.header_line{
	font-family: Arial;
    background: #f4f4f4;
    text-align: left;
    padding: 20px;
}
.custom_img button{
	color:white;
	background-color:blue;
}

.image_jp{
	margin-top:-100px;
	margin-left:800px;
}