.office{
	background-color:#f4f1f1;
	height: 300px;
	width: 900px;
	margin: auto;
	margin-top:150px;
	padding: 50px;
}
.maps_jp{
	margin-top:-300px;
	margin-left:550px;
}
.head-content{
	width:500px;
	height:50px;
}
