body {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
}

.contact_us {
	background-color: green;
	height: 100vh;
}


.contact-form {
	padding: 120px 0;
}

.contact-form form {
	background-color: #ffffff;
	width: 300px;
	margin: auto;
	padding: 30px;
}

.contact-form h2 {
	text-align: center;
	padding-bottom: 20px;
}

.contact-form input, .contact-form textarea {
	width: 100%;
	padding: 6px 10px;
	box-sizing:border-box;
	margin: 6px;
}

.contact-form button{
	background-color: green;
	width:100%;
	border: none;
	padding: 10px;
	border-radius: 20px;
	color: white;
}